<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - nielitcertificates.pythonanywhere.com</title>
</head>
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <main>
        <section>
            <h2>Information We Collect</h2>
            <p>
                When you use our mobile application nielitcertificates.pythonanywhere.com, we may collect certain personal information, including but not limited to:
                <ul>
                    <li>Name</li>
                    <li>Email address</li>
        
                </ul>
            </p>
        </section>

        <section>
            <h2>How We Use Your Information</h2>
            <p>
                We may use the information we collect for various purposes, including:
                <ul>
                    <li>Providing and maintaining the App</li>
                    <li>Improving and optimizing the App</li>
                    <li>Sending you updates, newsletters, or marketing communications (if you have opted in)</li>
                    <li>Responding to your requests or inquiries</li>
                    <li>Complying with legal obligations</li>
                </ul>
            </p>
        </section>

        <!-- Add more sections as needed -->

    </main>
    <footer>
        <p>Contact Us: nielitcertificates@gmail.com</p>
        <p>Last Updated: 9 September, 2023</p>
    </footer>
</body>
</html>
