<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>Transaction Successful</h1>
    <p>Your transaction with hash {{ transaction_hash }} has been successfully recorded on the blockchain.</p>
    <!-- Generate the transaction link using the provided URL and transaction_hash variable -->
    <a href="https://sepolia.etherscan.io/tx/{{ transaction_hash }}" target="_blank">View Transaction on Blockchain</a>
    <br><center><a href="/" class="btn btn-primary">Go Back</a> </center>
    <!-- You can add more content or links here -->
</body>
</html>
